.about {
    margin-left: 20px;
    margin-bottom: 30px;
}

.user-path {
    margin-left: 20px;
}

.wireframes {
    margin-left: 20px;
}

.container {
    margin-left: 20px;
}

.problem {
    margin-bottom: 30px;
}

.interviews {
    margin-left: 20px;
}
.ui-design {
    margin-left: 20px;
}

.final {
    margin-left: 20px;
}

.next-steps {
    margin-left: 20px;
}

.takeaways {
    margin-left: 20px;
}

.final {
    margin-left: 20px;
}